# Node.js / React
node_modules/
dist/
coverage/

# Environment variables and secrets
.env
.env.*
!.env.example

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# IDE files
.idea/
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*